body {
  background-color: yellow;
}


hr {
  border-style: dotted;
  border-top-style: none;
  border-color: grey;
  border-width: 5px;
  width: 5%;


}


h1 {
  Color: #66bfbf;
}

h3 {
  Color: #66bfbf;
}
